body {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUklEQVQYV2P8NDPuPwMQ8KUvYgTRuAAjusLz58+DNRoaGqJoxDCFaIXoVhcXF4NtQDERm2lwhTBGb28vIy5rwSYiK8Tra2yS2DRjDTuiFWKzBQAhrCy7R+Z4JQAAAABJRU5ErkJggg==);
}

.intro {
  background: white;
  box-shadow: black 0px 0px 20px;
  background-position: -300px -120px !important;
}

.slide.number {
  background:url(../img/cloudy-sky-background.png);
}

.slide.number .fakeBG {
  background: url(../img/starry-explosion-splash-pattern.png);
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .3;
}

.number h1 {
  font-size: 300px;
  position: absolute;
  top: 250px;
  right: 130px;
  font-family: Jacques Francois Shadow, cursive;
  color: #749fB5;
}

.commandment {
  background:url(../img/cloudy-sky-background.png);
}

.commandment h1 {
  padding-top: 50px;
  font-family: Eagle Lake;
  font-size: 45px;
  text-align: center;
}